@charset "utf-8";
@import '../base/reset_2017';
@import '../base/nav';
@import '../base/style';

//分行详情页样式
.detail-banner{
    width:100%;
    overflow:hidden;
    position:relative;
    height:3.57rem;
    .bannerLists{
        position:absolute;
        top:0;
        left:0;
        li{
            float:left;
            position:relative;
            img{
                width:100%;
                height:100%;
            }
            h3{
                font-size:$font-size1;
                color:#fff;
                position:absolute;
                left:0.3rem;
                bottom:0.2rem;
            }
        }
    }
}

//
.details-title{
    background:$gray-f7;
    width:100%;
    height:0.85rem;
    padding:0 0.25rem;
    span{
        color:$red;
        font-size:0.3rem;
        float:left;
        display:block;
        margin-top:0.35rem;
        margin-right:0.2rem;
    }
    label{
        color:#333;
        font-size:0.2rem;
         float:left;
        display:block;
        margin-top:0.4rem;
    }
}

//
.details-wares{
    padding:0 0.25rem;
    overflow:hidden;
    width:100%;
    .wares-left{
        width:27%;
        float:left;
        border-right: $gray-border solid 1px;
        h3{
            height:1.26rem;
            .title{
                font-size:0.24rem;
                color:#f968b5;
                float:left;
                display:block;
                padding-top:0.28rem;
            }
            .detail{
                font-size:0.18rem;
                color:#888888;
                float:left;
            }
        }
        img{
            width:100%;
            height:1.97rem;
        }
    }
    .wares-right{
        width:72.5%;
        float:left;
        overflow:hidden;
        .wares-middle{
            width:100%;
             border-bottom: $gray-border solid 1px;
            overflow:hidden;
            h3{
                width:50%;
                float:left;
                height:0.78rem;
                padding-top:0.28rem;
                padding-left:0.3rem;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                overflow:hidden;
                height:1.26rem;
                .title{
                    font-size:0.24rem;
                    color:#77c953;
                    float:left;
                }
                .detail{
                    font-size:0.18rem;
                    color:#888888;
                    float:left;
                }
            }  
            img{
                width:50%;
                height:1.06rem;
            }
        }
        .wares-bottom{
        overflow:hidden;
          .serverList{
             float:left;
             width:50%;
             border-right: $gray-border solid 1px;
             h3{
                width:100%;
                float:left;
                height:0.83rem;
                padding-left:0.3rem;
                  -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                .title{
                    font-size:0.24rem;
                    color:#555555;
                    display:block;
                    margin-top:0.2rem;
                }
                .detail{
                    font-size:0.18rem;
                    color:#888888;
                    float:left;
                }
            }  
            img{
                width:100%;
                height:1.14rem;
            }
          }
          .serverList:nth-of-type(2) h3 .title{
                color:#5a88de;
          }
        }
    }
}


